.cart-items {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
  margin-top: 10px;
  height: 7rem;
  background-color: rgb(233, 233, 233);
}

.carIfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 7rem;
}

.cartName {
  height: 100%;
  width: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  height: 7rem;
}

.cartPrice {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 7rem;
}

.cartButtons {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.delBtn {
  width: 116px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 7rem;
}

.cartImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 7rem;
}
.cartImg img {
  border-radius: 10px;
  height: 7rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #6d6b69;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4948;
  border-color: #6d6b69;
  color: white;
}

.actions .button--alt {
  color: #6d6b69;
}

.actions .button {
  background-color: #6d6b69;
  color: white;
}

@media (max-width: 768px) {
  .cart-item {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  .carIfo {
    width: 284px;
    height: auto;
  }

  .cartName {
    justify-content: flex-start;
  }
  .delBtn {
    justify-content: flex-end;
  }
}
