.lastNewsList {
	text-decoration: none;
}

.newsItem {
	 border-bottom: 1px solid grey; 
	font-size: 12px;
	color: #e4e4e6;
	text-align: start;
	padding: 0.5rem; 
	margin-bottom: 1rem;
}

.newsItem:hover {
	background-color: #e4e4e6;
	color: #2a323d;
}

.newsItem .publishDateRight {
	font-size: 12px;
	color: rgb(143, 145, 145);
}

.newsItem .publishDateRight:hover {
	color: #2a323d;
}


