@media screen and (max-width: 767px) {
    .responsiveContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .element{
        margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px){
    .responsiveContainer{
      display: flex;
      flex-wrap: wrap;
    }

    .element{
        margin-bottom: 30px;
    }
  }
  
  .element:hover{
      cursor: pointer;
      box-shadow: 0 20px 40px rgba(0,0,0,0.4);
      transition: 0.5s;
  }