.carCard {
  background: #f7f7f7;
  width: 18rem;
  transition: all 0.1s linear;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 8px 0px rgba(149, 152, 154, 0.08);
}

.carCard:hover {
  top: -8px;
  left: 2px;
  box-shadow: 4px 4px 8px 0px rgba(149, 152, 154, 0.36);
}

.cardImg {
  height: 10rem;
}
