.imgNavbar {
  max-height: 50px;
  width: 50px;
}

.pad {
  padding-top: 5rem;
  background-color: #f7f7f6;
}

.defaultPositions {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
