.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #6d6b69;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4948;
  border-color: #6d6b69;
  color: white;
}

.actions .button--alt {
  color: #6d6b69;
}

.actions .button {
  background-color: #6d6b69;
  color: white;
}
