.newsInfo img{
	max-width: 100%;
	height:auto
}

.newsInfo {
	background-size: cover;
}

.titleNews {
	text-align: center;
	padding: 2em;
}

.publishDate {
	padding: 0.7rem 0;
	font-size: 16px;
	display: block;
	text-align: right;
	color: rgb(143, 145, 145)
}

