.modalBody {
  /* height: 80vh; */
  height: 100%;
  width: 100%;
  position: relative;
}

.image {
  margin: 0 auto;
  /* max-height: 60%; */
  max-height: 500px;
  display: flex;
  justify-content: space-between;
}
.image img {
  display: block;
  max-width: 100%;
}

.formGroup {
  width: 80%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.cropperLabel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.labelInput {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 10px;

  background: rgb(243, 242, 242);
  transition: all 0.2s;
  overflow: hidden;
}
.labelInput:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.labelInput span {
  color: silver;
}

.bgImg {
  width: 100%;
}
